.logo-image{
    width:38% ;
    height:25%;
    margin-left:220px;
    margin-top: 30px;
}
.paragrah
{
    text-align: center;

}
.marginleft
{
    padding: 20px;
    margin-left:64%;
    margin-top:-70px;
}
